<launch>

    <arg name="board_name" default="4"/>

    <node pkg="plane_detector" type="detect_plane" name="detect_plane" output="screen">
        <param name="pointcloud_path" type="string" value="$(find plane_detector)/data/calib/$(arg board_name).json"/>
        <param name="write_path" type="string" value="$(find plane_detector)/data/filter/$(arg board_name).json"/>
        <param name="boundary_param" type="string" value="$(find plane_detector)/config/$(arg board_name).yaml"/>
        <param name="max_SVD_iteration" type="int" value="30"/>
        <param name="inlier_SVD_ratio" type="double" value="0.95"/>
        <param name="max_SVD_value" type="double" value="0.9"/>
        <param name="max_circle_radius" type="double" value="0.2"/>
    </node>

    <arg name="rviz" default="true"/>

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find plane_detector)/rviz/rosrun.rviz"/>
    </group>

</launch>
