<launch>

	<node pkg="balm" type="livox_feature" name="livox_feature" output="screen"/>


	<arg name="bag_name" default="0"/>
	<node pkg="rosbag" type="play" name="rosbag" args="/home/sam/hkust_ri/$(arg bag_name).bag"/>


	<node pkg="plane_detector" type="extract_plane" name="extract_plane" output="screen">
	    <param name="data_write_path" type="string" value="$(find plane_detector)/data/calib/hkust4/$(arg bag_name).json"/>
	</node>

</launch>
