<launch>

    <arg name="site" default="hkust"/> # site: hkust, lg02
    <arg name="board_size" default="large"/> # size: large, small
    <arg name="board_name" default="middle"/> # name: left, middle, right
    <arg name="image_num" default="1"/> # num: 0, 1, 2

    <node pkg="calibration" type="calibrate_extrinsic" name="calibrate_extrinsic" output="screen">
        <param name="camera_param" type="string" value="$(find marker_detector)/config/left.yaml"/>
        <param name="image_path" type="string" value="$(find marker_detector)/fig/$(arg site)/$(arg board_size)/$(arg image_num).png"/>
        <param name="pointcloud_path" type="string" value="$(find plane_detector)/data/$(arg site)/$(arg board_size)/$(arg board_name).json"/>
    </node>

    <arg name="rviz" default="true"/>

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find calibration)/rviz/calib.rviz"/>
    </group>

</launch>
